# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

locale: "en-US"
title: "<span class='side-font'>Homepage</span>"
title_separator: "|"
#subtitle: ""
name: Mingyang Wei
email: mingyang.wei@emory.edu
#description: >- # this means to ignore newlines until "baseurl:"
#  Write an awesome description for your new site here. You can edit this
#  line in _config.yml. It will appear in your document head meta (for
#  Google search results) and in your feed.xml site description.
description: "This is a wonderful personal website for Mingyang Wei."
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://myweiii.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  myweiii#


# Build settings
#theme: minimal-mistakes-jekyll
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "mint"
plugins:
  - jekyll-feed
  - jekyll-include-cache

#teaser: /assets/images/favicon.ico
#logo: "/assets/images/favicon.ico"
logo: "/assets/images/logo.png"
#masthead_title: 
#breadcrumbs: true
#permalink: /test1/title/

include: 
  - _pages
  - _news

collections:
  pages:
    output: true
    permalink: /:collection/:path


permalink: /:categories/:title/

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      show_date: false
      author_profile: true

  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      show_date: false
      classes: wide

  # news
  - scope:
      path: ""
      type: news
    values:
      layout: single
      author_profile: true
      classes: wide

  # _foo
  - scope:
      path: ""
      type: foo
    values:
      layout: single
      author_profile: true


paginate: 5
timezone: America/New_York
enable_copy_code_button: true

search: true
lunr:
  search_within_pages: true
  search_full_content: true
atom_feed:
  hide: true


author:
  name: "<span class='side-font'>Mingyang Wei</span>"
  avatar: "/assets/images/Me.jpeg"
  bio: "<span class='side-font'>RA@Emory; MS@Emory; BE@WHU</span>" # Note: Markdown is allowed
  location: "<span class='side-font'>Atlanta, GA, USA</span>"
  links:
    - label: "<span class='side-font'>Linkedin</span>"
      icon: "fab fa-fw fa-linkedin-in"
      url: "https://www.linkedin.com/in/mingyangwei/"
    - label: "<span class='side-font'>GitHub</span>"
      icon: "fab fa-fw fa-github-alt"
      url: "https://github.com/myweiii"
    #- label: "<span class='side-font'>Instagram</span>"
    #  icon: "fab fa-fw fa-instagram"
    #  url: "https://instagram.com/mingyang.mywei"
    - label: "<span class='side-font'>Email</span>"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:mingyang.wei@emory.edu"
    

footer:
  links:
    - label: "<span class='side-font'>Emory University</span>"
      url: "https://emory.edu"
    - label: "<span class='side-font'>Emory Melody Lab</span>"
      url: "https://github.com/Emory-Melody"



# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
